/* body color */
body {
    background: #fff5e6;
}
body {
    padding: 0px 200px;
    margin: 0px;
}
/* first photo */
.Parrotphoto {
    background-size: cover;
    background: url(photos/original.jpg);
    background-position: center;
}
/* text above photo*/
#Parrottitle {
    font-size: 40px;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 235px 1px 66px;
    color: white;
}
/* content */
img {
    width: 180px;
}
.parrot-text {
    margin: 0px 11px;
    font-size: 17px;
}
/* layout */
#form-contact-info {
    padding: 10px;
}
 #facts-about-parrot{
    padding: 10px;
}
div#detail-about-parrot
{
    padding: 10px;
}
/* links  */
.mylink {
    font-size: 27px;
    width: 100%;
    text-align: center;
    padding: 9px;
}
.link1{
    float: left;
    width: 31%;
}
.link2{
    float: left;
    width: 31%;
}
.link3{
    float: left;
    width: 31%;
}
.active {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
/* form */
form {
    border: 1px solid;
    padding: 18px 14px;
    border-color: black;
    flex-direction: column;
}
.expand {
    width: 99%;
    margin: 10px 0px;
}
.formtext {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 10px;
}
input#btn {
    width: 77px;
    margin-top: 12px;
}
#main-body {
    background: white;
}

/* footer */
footer {
    padding: 10px;
    text-align: right;
}
